/SportsStore/SportsStore.WebUI/App_Data/SportsStore.mdf
/SportsStore/SportsStore.WebUI/App_Data/SportsStore_log.ldf
/SportsStore/SportsStore.Domain/bin/Debug/EntityFramework.SqlServer.dll
/SportsStore/SportsStore.Domain/bin/Debug/EntityFramework.SqlServer.xml
/SportsStore/SportsStore.Domain/bin/Debug/EntityFramework.dll
/SportsStore/SportsStore.Domain/bin/Debug/EntityFramework.xml
/SportsStore/SportsStore.Domain/bin/Debug/Microsoft.Web.Infrastructure.dll
/SportsStore/SportsStore.Domain/bin/Debug/SportsStore.Domain.dll
/SportsStore/SportsStore.Domain/bin/Debug/SportsStore.Domain.dll.config
/SportsStore/SportsStore.Domain/bin/Debug/SportsStore.Domain.pdb
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.Helpers.dll
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.Helpers.xml
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.Mvc.dll
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.Mvc.xml
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.Razor.dll
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.Razor.xml
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.WebPages.Deployment.dll
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.WebPages.Deployment.xml
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.WebPages.Razor.dll
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.WebPages.Razor.xml
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.WebPages.dll
/SportsStore/SportsStore.Domain/bin/Debug/System.Web.WebPages.xml
/SportsStore/SportsStore.Domain/obj/Debug/SportsStore.Domain.csproj.FileListAbsolute.txt
/SportsStore/SportsStore.Domain/obj/Debug/SportsStore.Domain.csprojResolveAssemblyReference.cache
/SportsStore/SportsStore.Domain/obj/Debug/SportsStore.Domain.dll
/SportsStore/SportsStore.Domain/obj/Debug/SportsStore.Domain.pdb
/SportsStore/SportsStore.UnitTests/bin/Debug/ApplicationInsights.config
/SportsStore/SportsStore.UnitTests/bin/Debug/EntityFramework.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/EntityFramework.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/Microsoft.Web.Infrastructure.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/Moq.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/Moq.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.Web.Common.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.Web.Common.pdb
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.Web.Common.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.Web.Mvc.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.Web.Mvc.pdb
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.Web.Mvc.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.pdb
/SportsStore/SportsStore.UnitTests/bin/Debug/Ninject.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/SportsStore.Domain.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/SportsStore.Domain.pdb
/SportsStore/SportsStore.UnitTests/bin/Debug/SportsStore.UnitTests.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/SportsStore.UnitTests.dll.config
/SportsStore/SportsStore.UnitTests/bin/Debug/SportsStore.UnitTests.pdb
/SportsStore/SportsStore.UnitTests/bin/Debug/SportsStore.WebUI.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/SportsStore.WebUI.pdb
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.Helpers.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.Helpers.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.Mvc.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.Mvc.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.Razor.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.Razor.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.WebPages.Deployment.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.WebPages.Deployment.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.WebPages.Razor.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.WebPages.Razor.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.WebPages.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/System.Web.WebPages.xml
/SportsStore/SportsStore.UnitTests/bin/Debug/WebActivator.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/Microsoft.CSharp.Core.targets
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/Microsoft.CodeAnalysis.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/Microsoft.VisualBasic.Core.targets
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/System.Collections.Immutable.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/System.Reflection.Metadata.dll
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/VBCSCompiler.exe
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/VBCSCompiler.exe.config
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/csc.exe
/SportsStore/SportsStore.UnitTests/bin/Debug/roslyn/vbc.exe
/SportsStore/SportsStore.UnitTests/bin/Debug/zh-Hans/Microsoft.VisualStudio.QualityTools.UnitTestFramework.resources.dll
/SportsStore/SportsStore.UnitTests/obj/Debug/SportsStore.UnitTests.csproj.FileListAbsolute.txt
/SportsStore/SportsStore.UnitTests/obj/Debug/SportsStore.UnitTests.csprojResolveAssemblyReference.cache
/SportsStore/SportsStore.UnitTests/obj/Debug/SportsStore.UnitTests.dll
/SportsStore/SportsStore.UnitTests/obj/Debug/SportsStore.UnitTests.pdb
/SportsStore/SportsStore.WebUI/bin/ApplicationInsights.config
/SportsStore/SportsStore.WebUI/bin/EntityFramework.SqlServer.dll
/SportsStore/SportsStore.WebUI/bin/EntityFramework.SqlServer.xml
/SportsStore/SportsStore.WebUI/bin/EntityFramework.dll
/SportsStore/SportsStore.WebUI/bin/EntityFramework.xml
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.Agent.Intercept.dll
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.DependencyCollector.dll
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.DependencyCollector.xml
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.PerfCounterCollector.dll
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.ServerTelemetryChannel.dll
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.ServerTelemetryChannel.xml
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.Web.dll
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.Web.xml
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.WindowsServer.dll
/SportsStore/SportsStore.WebUI/bin/Microsoft.AI.WindowsServer.xml
/SportsStore/SportsStore.WebUI/bin/Microsoft.ApplicationInsights.dll
/SportsStore/SportsStore.WebUI/bin/Microsoft.ApplicationInsights.xml
/SportsStore/SportsStore.WebUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/SportsStore/SportsStore.WebUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/SportsStore/SportsStore.WebUI/bin/Microsoft.Web.Infrastructure.dll
/SportsStore/SportsStore.WebUI/bin/Moq.dll
/SportsStore/SportsStore.WebUI/bin/Moq.xml
/SportsStore/SportsStore.WebUI/bin/Ninject.Web.Common.dll
/SportsStore/SportsStore.WebUI/bin/Ninject.Web.Common.pdb
/SportsStore/SportsStore.WebUI/bin/Ninject.Web.Common.xml
/SportsStore/SportsStore.WebUI/bin/Ninject.Web.Mvc.dll
/SportsStore/SportsStore.WebUI/bin/Ninject.Web.Mvc.pdb
/SportsStore/SportsStore.WebUI/bin/Ninject.Web.Mvc.xml
/SportsStore/SportsStore.WebUI/bin/Ninject.dll
/SportsStore/SportsStore.WebUI/bin/Ninject.pdb
/SportsStore/SportsStore.WebUI/bin/Ninject.xml
/SportsStore/SportsStore.WebUI/bin/SportsStore.Domain.dll
/SportsStore/SportsStore.WebUI/bin/SportsStore.Domain.pdb
/SportsStore/SportsStore.WebUI/bin/SportsStore.WebUI.dll
/SportsStore/SportsStore.WebUI/bin/SportsStore.WebUI.dll.config
/SportsStore/SportsStore.WebUI/bin/SportsStore.WebUI.pdb
/SportsStore/SportsStore.WebUI/bin/System.Web.Helpers.dll
/SportsStore/SportsStore.WebUI/bin/System.Web.Helpers.xml
/SportsStore/SportsStore.WebUI/bin/System.Web.Mvc.dll
/SportsStore/SportsStore.WebUI/bin/System.Web.Mvc.xml
/SportsStore/SportsStore.WebUI/bin/System.Web.Razor.dll
/SportsStore/SportsStore.WebUI/bin/System.Web.Razor.xml
/SportsStore/SportsStore.WebUI/bin/System.Web.Webpages.Deployment.dll
/SportsStore/SportsStore.WebUI/bin/System.Web.Webpages.Deployment.xml
/SportsStore/SportsStore.WebUI/bin/System.Web.Webpages.Razor.dll
/SportsStore/SportsStore.WebUI/bin/System.Web.Webpages.Razor.xml
/SportsStore/SportsStore.WebUI/bin/System.Web.Webpages.dll
/SportsStore/SportsStore.WebUI/bin/System.Web.Webpages.xml
/SportsStore/SportsStore.WebUI/bin/WebActivator.dll
/SportsStore/SportsStore.WebUI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/SportsStore/SportsStore.WebUI/bin/roslyn/Microsoft.CSharp.Core.targets
/SportsStore/SportsStore.WebUI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/SportsStore/SportsStore.WebUI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/SportsStore/SportsStore.WebUI/bin/roslyn/Microsoft.CodeAnalysis.dll
/SportsStore/SportsStore.WebUI/bin/roslyn/Microsoft.VisualBasic.Core.targets
/SportsStore/SportsStore.WebUI/bin/roslyn/System.Collections.Immutable.dll
/SportsStore/SportsStore.WebUI/bin/roslyn/System.Reflection.Metadata.dll
/SportsStore/SportsStore.WebUI/bin/roslyn/VBCSCompiler.exe
/SportsStore/SportsStore.WebUI/bin/roslyn/VBCSCompiler.exe.config
/SportsStore/SportsStore.WebUI/bin/roslyn/csc.exe
/SportsStore/SportsStore.WebUI/bin/roslyn/vbc.exe
/SportsStore/SportsStore.WebUI/bin/zh-Hans/System.Web.Helpers.resources.dll
/SportsStore/SportsStore.WebUI/bin/zh-Hans/System.Web.Mvc.resources.dll
/SportsStore/SportsStore.WebUI/bin/zh-Hans/System.Web.Razor.resources.dll
/SportsStore/SportsStore.WebUI/bin/zh-Hans/System.Web.Webpages.Deployment.resources.dll
/SportsStore/SportsStore.WebUI/bin/zh-Hans/System.Web.Webpages.Razor.resources.dll
/SportsStore/SportsStore.WebUI/bin/zh-Hans/System.Web.Webpages.resources.dll
/SportsStore/SportsStore.WebUI/obj/Debug/SportsStore.WebUI.csproj.FileListAbsolute.txt
/SportsStore/SportsStore.WebUI/obj/Debug/SportsStore.WebUI.csprojResolveAssemblyReference.cache
/SportsStore/SportsStore.WebUI/obj/Debug/SportsStore.WebUI.dll
/SportsStore/SportsStore.WebUI/obj/Debug/SportsStore.WebUI.pdb
/SportsStore/SportsStore.WebUI/App_Data/SportsStore.Domain.Concrete.EFDbContext.mdf
/SportsStore/SportsStore.WebUI/App_Data/SportsStore.Domain.Concrete.EFDbContext_log.ldf
/UrlsAndRoutes
/ControllersAndActions
/ControllerExtensibility
