<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/asset/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/asset/js/jquery-1.10.2.min.js"></script>
    <script src="~/asset/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            <!--
            在产品列表页使用了 Html.Partial() 方式调用分部视图，在此页面使用 Html.Action() 方式调用分部视图
            两种方式有什么不同以及优缺点？
            分部视图（Partial View）及Html.Partial和Html.Action差异
            信息来源：
            https://www.cnblogs.com/Leon-Hu/p/5575311.html

            Html.Action() 返回的内容更灵活，适合权限菜单内容
            -->
            <!--调用包含控制器 动作方法的分部视图，并返回分部视图结果-->
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>