@using SportsStore.WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    //把固定的html内容做成分部视图：此分部视图需要一个 Product 类型的Model参数
    @Html.Partial("ProductSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategroy }))
</div>
